.navbar{
    background-color: #f5f5f5;
}
.banner{
    background-image: url(./assets/images/perchas.jpg);
    height: 70vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: purple;
    display: flex;


}
.banner-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: purple;
}
.banner-inner h1{
    color: purple;
    font-size: 80px;
    font-weight: bold;
}
.banner-inner p{
    color: purple;
    font-size: 30px;
}
.main{
    background-color: #f5f5f5;
}

.subtitulo{
    text-align: center;
    color: purple;
}
.subtitulo h2{
    font-size: 70px;
    font-weight: bolder;
}
input[type=search]{
    padding: 5px;
}
input[type=search]:focus{
    background-color: #d9036721;
}
.form-main{
    display: flex;
    justify-content: space-between;
    padding: 3em;
}
.tarjetas{
    padding: 1.5em;
    background-color:#f5f5f5;
}
.card{
    margin: 10px auto;
    max-width: 40em;
    border: 2px solid black;
}
.card-img-top{
    max-height: 50vh;
    
}

.card-footer{
    display: flex;
    justify-content: space-around;
}
.card-title{
    font-style: italic;
    font-weight: bolder;
}
.card-detail{
    width: 90vw;
    max-width: 1400px;
    margin: 2em auto;
    border: 2px solid black;
}
.card-detail-content{
    padding: 2em;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-img-detail{
    width: 90%;
    object-fit: cover;
    
}

.form-group{
    margin: 1em auto;
}
.table{
    margin: 2em auto;
}

.footer{
    background-color: #f5f5f5;

}
footer h3, .bi-instagram, .bi-facebook, .bi-whatsapp{
    color: #d90368;
}